<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="WelcomeDlg_2" Width="370" Height="270" Title="!(loc.WelcomeDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
                    <Publish Property="WixUI_InstallMode" Value="Update">Installed AND PATCH</Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.WelcomeDlgBitmap)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

                <Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" 
                    Text="{\WixUI_Font_Bigger}Welcome to the Algorand Node for Windows Setup">
                </Control>
                
                <!-- New install for product -->
                <Control Id="Description" Type="Text" X="135" Y="85" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="This wizard will guide you in the installation of your Algorand Node and companion tools in your system.">
                    <Condition Action="show">NOT Installed OR NOT PATCH OR NOT WIX_UPGRADE_DETECTED</Condition>
                    <Condition Action="hide">Installed AND PATCH OR WIX_UPGRADE_DETECTED</Condition>
                </Control>

                <!-- Upgrade notice -->
                <Control Id="DescriptionUpgrade" Type="Text" X="135" Y="85" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="This wizard will guide you in upgrading your installed Algorand Node and companion tools to this new version.">
                    <Condition Action="show">WIX_UPGRADE_DETECTED</Condition>
                    <Condition Action="hide">NOT WIX_UPGRADE_DETECTED</Condition>
                </Control>

                <Control Id="Description2" Type="Text" X="135" Y="180" Width="220" Height="60" Transparent="yes" NoPrefix="yes" 
                    Text="Adapted by Rand Labs with the support of Algorand Foundation. Algorand Node developed by Algorand Inc." />
                <Control Id="Link1" Type="Hyperlink" X="135" Y="210" Width="40" Height="20" >
                    <Text><![CDATA[<a href="https://randlabs.io/">randlabs.io</a>]]></Text>
                </Control>
                <Control Id="Link2" Type="Hyperlink" X="190" Y="210" Width="100" Height="20">
                    <Text><![CDATA[<a href="https://algorand.foundation/ ">algorand.foundation</a>]]></Text>
                </Control>
                <Control Id="Link3" Type="Hyperlink" X="290" Y="210" Width="70" Height="20">
                    <Text><![CDATA[<a href="https://www.algorand.com">algorand.com</a>]]></Text>
                </Control>
                <Control Type="Text" Id="VersionTxt" Width="50" Height="17" X="11" Y="244" Text="Version $(var.ALGOVERSION)" Transparent="yes" />
            </Dialog>
            <InstallUISequence>
                <Show Dialog="WelcomeDlg_2" Before="ProgressDlg" Overridable="yes">1</Show>
            </InstallUISequence>
        </UI>
    </Fragment>
</Wix>