*.pdb
*.obj
/algodsvc/*.exe
/algodsvc/algodsvc.h
/algodsvc/*.rc
/algodsvc/*.o
/algodsvc/MSG*.bin
/installer/src/*.wixobj
/installer/src/*.msi
/installer/src/*.wixpdb
/installer/src/cabs
/installer/src/*.dll
/installer/src/*.gch
installer/src/msi-*
installer/src/obj-*
